body {
    display: grid;
    place-items: center;
    font-family: 'PT Sans';
}

.cv-ru {
    max-width: 1000px;
    display: grid;
    grid-template-columns: minmax(min-content, 1fr) 1fr 1fr;
    grid-template-rows: min-content min-content min-content;
    grid-template-areas:
            "name       name        photo"
            "summary    summary     photo"
            "education  education   photo"
            "experience experience  hobby"
            "experience experience .";
    grid-gap: 1rem;
}

@media screen and (max-width: 768px) {
    .cv-ru {
        grid-template-columns: 1fr;
        grid-template-rows: max-content;
        grid-template-areas:
            "photo"
            "name"
            "summary"
            "education"
            "hobby"
            "experience";
        grid-gap: 1rem;
    }
}
.main-photo {
    grid-area: photo;
    place-self: center;
    overflow: hidden;
}
.main-photo img {
    width: 100%;
    max-height: 100%;
    object-fit: fill;
}
.title {
    grid-area: name;
}
.summary {
    grid-area: summary;
}
.education {
    grid-area: education;
}
.hobby {
    grid-area: hobby;
    display: grid;
    grid-gap: 1rem;
    grid-template-rows: max-content;
    grid-template-columns: auto;

}
.hobby-card img {
    width: 100%;
    max-height: 100%;
    object-fit: contain;
}
.experience {
    grid-area: experience;
    /*white-space: pre-wrap;*/
}
.education-card {
    /* TODO reimplement this block*/
}
.education-card__title {
    padding-top: 2px;
    font-size: 1.1rem;
    font-weight: bold;
}
