body {
    display: grid;
    place-items: center;
}

.cv-ru {
    max-width: 1000px;
    display: grid;
    grid-template-columns: min-content 1fr 1fr;
    grid-template-rows: min-content min-content auto;
    grid-template-areas:
            "photo      name        name"
            "photo    summary     summary"
            "photo    . ."
            "education  education   hobby"
            "experience experience  hobby"
            "experience experience .";
    grid-gap: 1rem;
}

.main-photo {
    grid-area: photo;
    place-self: center;
    /*border: 1px solid rgba(134, 134, 134, 0.5);*/
    /*border-radius: 50%;*/
    /*object-fit: cover;*/
    overflow: hidden;
}
.title {
    grid-area: name;
}
.summary {
    grid-area: summary;
}
.education {
    grid-area: education;
}
.hobby {
    grid-area: hobby;
}
.hobby-card img {
    width: 100%;
}
.experience {
    grid-area: experience;
    /*white-space: pre-wrap;*/
}
.education-card {
    /* TODO reimplement this block*/
}
.education-card__title {
    padding-top: 2px;
    font-size: 1.1rem;
    font-weight: bold;
}
