---
import MainLayout from "../../layout/Main.astro";
import { getCollection } from "astro:content";

const content = await Astro.props.entry.render();

export const getStaticPaths = async () => {
  const portfolio = await getCollection("portfolio").then((p) =>
    p.filter(({ data }) => !data.draft),
  );
  return portfolio.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
};
---

<MainLayout>
  <div class="w-full min-h-[50vh] bg-yellowVibrant flex flex-col place-items-center justify-center">
    <span class="text-center text-6xl w-full">WIP</span>
    <span class="text-center text-lg sm:text-2xl sm:w-3/4">Yes, this page is supposed to look like this.</span>
    <span class="text-center text-lg sm:text-2xl sm:w-3/4 text-fuchsiaVibrant">And all articles are drafts for now.</span>
  </div>
  <div class="prose lg:prose-xl lg:max-width-3/4 p-5 mx-auto prose-headings:mb-0">
    <content.Content />
  </div>
</MainLayout>
