@import "./fonts.css";

.balance {
  text-wrap: balance;
}
a.text-link {
  background-image: linear-gradient(to bottom, currentColor 0, currentColor 100%);
  background-position: 0 95%;
  background-repeat: repeat-x;
  background-size: 1px 0.5px;
}
a.text-link:hover {
  background-position: 0 100%;
  background-size: 1px 4px;
}
