@import "./fonts.css";

@tailwind base;

.balance {
    text-wrap: balance;
}

@layer base {
    :focus-visible {
        @apply outline-blueVibrant outline-2 outline-offset-2
    }
}

a.text-link {
    background-image: linear-gradient(
            to bottom,
            currentColor 0,
            currentColor 100%
    );
    background-position: 0 95%;
    background-repeat: repeat-x;
    background-size: 1px 0.5px;
}

a.text-link {
    &:hover, &:focus-visible {
        background-position: 0 100%;
        background-size: 1px 4px;
    }
}

