---
import MainLayout from '../layout/Main.astro';
---

<MainLayout showHeader>
	<div
		class="lg:max-width-3/4 prose mx-auto my-20 lg:prose-xl prose-headings:mb-0 prose-headings:mt-0.5 prose-ul:my-0 prose-li:my-0 prose-p:m-0"
	>
		<a class="print:hidden" href="/cv.pdf">PDF</a>

		<h1 id="ramil-karimov-software-engineer">Ramil Karimov, Software Engineer</h1>
		<article>
			<p>
				I am a Software Engineer with extensive expertise in web development. Over the years, I have delivered a diverse
				array of successful projects, showcasing my proficiency in both front-end and back-end technologies, such as
				JavaScript, TypeScript, Svelte, React, Node.js, CSS, and SCSS.
			</p>
			<p>
				My project portfolio includes a wide range of applications, from project management tools and sophisticated
				dashboards to shopping platforms, Shopify plugins, and React-based mobile apps. These projects underscore my
				ability to tackle varied challenges and consistently deliver innovative solutions.
			</p>
			<p>I am also experienced in automated testing and CI/CD configuration.</p>
		</article>
		<article>
			<h2 id="skills">Skills</h2>
			<p><strong>Languages:</strong> JavaScript, Typescript</p>
			<p><strong>Technologies:</strong> Svelte, React, Electron, node js, CSS, SCSS, Supabase</p>
		</article>
		<article>
			<h2 id="contacts">Contacts</h2>
			<p>Current location: Tashkent, Uzbekistan.</p>
			<p>Phone: +998 91-798-89-66; +7 (912) 852-09-81</p>
			<p>Email: <a href="mailto:ramilkarimov@hey.com">ramilkarimov@hey.com</a></p>
			<p>Telegram: <a href="https://t.me/ramilkos">@ramilkos</a></p>
		</article>
		<article>
			<h3 id="work-experience">Work Experience</h3>
			<h3 id="intuition">Since May 2024 — Part-time Full Stack Developer at design bureau, Intuition, Remote</h3>
			<p><strong>Role:</strong> Full stack developer.</p>
			<h3 id="know-your-talent">
				Mar 2024 — Jul 2024 Part-time Full Stack Developer at Startup, Know Your Talent, Remote
			</h3>
			<p><strong>Role:</strong> Developer of the desktop electron app and AWS administrator.</p>
		</article>
		<article>
			<h3 id="pyroblast">Nov 2023 - Mar 2024 — Developer at Startup, Pyroblast, Remote</h3>
			<h3 id="project-pyroblast">Project: Pyroblast</h3>
			<p>Gamer-oriented chat platform, got cancelled.</p>
			<p><strong>Role:</strong> Developer of the desktop electron app.</p>
			<p><strong>Tasks and Accomplishments:</strong></p>
			<ul>
				<li>
					Developed a desktop app on electron from scratch. Using sveltekit, vite, supabase, typescript and turborepo.
					Sveltekit in a static site generation and spa mode allowed pretty straight forward routing and components for
					the app. Supabase is a great OSS backend as a service platform. It provides authentication, database and a
					real time communication. Vite for sveltekit and electron resources build.
				</li>
				<li>
					Automated builds for all platforms using github actions and telegram bot to report links on success build.
				</li>
				<li>Implemented authentication with google and email. Set up links from the email to open in an app.</li>
				<li>
					Added to designer’s pipeline usage of design tokens and added generation of the css variables based on it.
				</li>
				<li>
					Used turborepo to create monorepository and separate applications (web and electron) components, generated
					styles, types and other helpers (such as storybook).
				</li>
				<li>
					Made the layout of the app with right-to-left languages in mind, so that arab, jew and asian natives would be
					able to use an app more compfortable.
				</li>
			</ul>
		</article>
		<article>
			<h2 id="growave">Nov 2022 - Oct 2023 — Lead Software Engineer, Growave, Remote</h2>
			<h3 id="project-growave">Project: Growave</h3>
			<p>Marketing platform for shopify. Consists of multiple subprojects.</p>
			<ul>
				<li>
					Admin interface implemented on typescript using akita for storage management, superstruct for api schema
					validation and react with hooks for rendering.
				</li>
				<li>Legacy shopify plugin implemented built on shopify liquid file templates and jquery.</li>
				<li>Version 2 shopify plugin built on svelte and web components.</li>
			</ul>
			<p><strong>Role:</strong> Lead frontend developer</p>
			<p><strong>Tasks and Accomplishments:</strong></p>
			<ul>
				<li>Led the development team for the new version of the plugin, using Svelte and web components.</li>
				<li>
					Implemented a dynamic design system where users select several base colors, and the rest are chosen using
					offsets and contrast accessibility checks.
				</li>
				<li>Optimized the admin interface for performance and code-writing standards.</li>
				<li>Ensured code quality in the project through code reviews.</li>
			</ul>
			<p><strong>Languages:</strong> Typescript, CSS</p>
			<p><strong>Tools:</strong> Svelte, React, akita, superstruct, RXjs, Shopify polaris, Shopify API, postcss, npm</p>
		</article>
		<article>
			<h2 id="orion-innovations">Dec 2020 - Oct 2022 — Software Engineer, Orion Innovation, Remote</h2>
			<h3 id="project-ecommerce-solution"><strong>Project:</strong> ECommerce solution</h3>
			<p><strong>Role:</strong> Frontend developer</p>
			<p><strong>Tasks and Accomplishments:</strong></p>
			<ul>
				<li>Integrated the payment solution</li>
				<li>Participated in on-going feature development</li>
			</ul>
			<p><strong>Languages:</strong> Javascript, CSS</p>
			<p><strong>Tools:</strong> Webpack, ES6, React, Redux, Jenkins, Docker, Open API</p>
			<p>Left the project because I wanted a role closer to the design process.</p>
		</article>
		<article>
			<h3 id="may-2020---oct-2020--software-engineer-quickbpm-izhevsk-remote-russia">
				May 2020 - Oct 2020 — Software Engineer, QuickBPM, Izhevsk (Remote), Russia
			</h3>
			<h3 id="project-quickbpm-redesign-business-process-management-tool">
				<strong>Project:</strong> QuickBPM redesign. Business Process Management tool
			</h3>
			<p><strong>Role:</strong> Frontend developer</p>
			<p><strong>Tasks and Accomplishments:</strong></p>
			<ul>
				<li>Implemented system-wide redesign in product in active development</li>
				<li>Created mobile application</li>
				<li>Refactored state-management to remove MobX</li>
			</ul>
			<p><strong>Languages:</strong> TypeScript, SCSS, JavaScript</p>
			<p><strong>Tools:</strong> Angular, RxJs, MobX, Cordova, Electron</p>
			<p>Left company because I did not handle well my leading role and decided to get a role with no subordinates.</p>
		</article>
		<article>
			<h3 id="maxiru">Aug 2019 - Apr 2020 — Software engineer, Maxiru inc, Izhevsk (Remote), Russia</h3>
			<h3 id="project-guest-app-content-based-react-native--webview-mobile-application-for-guests-on-cruise-ships">
				<strong>Project</strong>: Guest app. Content-based react native + webview mobile application for guests on
				cruise ships
			</h3>
			<p><strong>Role:</strong> Frontend developer</p>
			<p><strong>Tasks and Accomplishments</strong>:</p>
			<ul>
				<li>Developed multiple user interfaces</li>
				<li>Created an infrastructure for UI testing automation based on Cypress, Jenkins, Docker</li>
			</ul>
			<p><strong>Languages:</strong> Javascript, CSS</p>
			<p><strong>Tools:</strong> Webpack, ES6, React, Redux, Cypress, Jenkins, Docker, AirTable, Open API</p>
			<p>Due to COVID-19, cruise business was in trouble, so company reduced development team, including me.</p>
		</article>
		<article>
			<h3 id="redsys">Jan 2018 - Aug 2019 – Senior Software engineer, RedSys inc, Izhevsk (Remote), Russia</h3>
			<h3
				id="project-geo-information-dashboard-domain-specific-set-of-tools-maps-tables-charts-etc-to-support-decision-making"
			>
				<strong>Project</strong>: Geo-information dashboard. Domain-specific set of tools maps, tables, charts, etc. to
				support decision-making.
			</h3>
			<p><strong>Role:</strong> Frontend developer</p>
			<p><strong>Tasks and Accomplishments</strong>:</p>
			<ul>
				<li>Developed multiple user interfaces</li>
				<li>Introduced new layout architecture</li>
				<li>Migrated project to Typescript</li>
				<li>Integrated external universal previewing tool</li>
			</ul>
			<p><strong>Languages:</strong> Javascript, Typescript, Java, CSS</p>
			<p><strong>Tools:</strong> Webpack, ES6, Angular, Golden Layout, Open Layers, w2ui, CSS, LESS, React, redux</p>
			<p>Company got bankrupt.</p>
		</article>
		<article>
			<h3 id="may-2017---dec-2017--software-engineer-competentum-izhevsk-russia">
				May 2017 - Dec 2017 – Software engineer, Competentum, Izhevsk, Russia
			</h3>
			<p><strong>Role:</strong> Frontend developer</p>
			<p><strong>Tasks and Accomplishments</strong>:</p>
			<ul>
				<li>Developed multiple educational games and demos</li>
				<li>Held a series of internal seminars on unit testing and CI</li>
			</ul>
			<p><strong>Languages:</strong> Javascript, Java</p>
			<p>
				<strong>Tools:</strong> Gulp, Webpack, ES6, Angular, Accessibility testing tools, Flash to html5 conversion tools
			</p>
			<p>Left so I can work remotely.</p>
		</article>
		<article>
			<h3 id="nov-2015---mar-2017--senior-software-engineer-epam-systems-irvine-ca-usa">
				Nov 2015 - Mar 2017 – Senior Software engineer, EPAM Systems, Irvine, CA, USA
			</h3>
			<h3
				id="project-advertiser-experience-platform-analytics-decision-making-platform-for-recommendations-to-enhance-adwords-campaigns"
			>
				<strong>Project</strong>: Advertiser Experience Platform. Analytics, decision-making platform for
				recommendations to enhance AdWords campaigns.
			</h3>
			<p><strong>Project Role</strong>: Configuration developer, Front-end developer</p>
			<p><strong>Tasks and Accomplishments</strong>:</p>
			<ul>
				<li>
					Developed multiple recommendation and adoption tracking configurations, which includes requirement and data
					analysis, implementation using proprietary javascript-based tools
				</li>
				<li>
					Suggested, designed and introduced into platform multiple user experience-enhancing features. Using GWT and
					set of customer-specific and project-specific tools
				</li>
			</ul>
			<p><strong>Languages</strong>: JavaScript, Java</p>
			<p><strong>Tools</strong>: Google closure, GWT, Proprietary customer technology stack</p>
		</article>
		<article>
			<h3 id="apr-2014---nov-2015--senior-front-end-developer-piano-former-tinypass-izhevsk-russia">
				Apr 2014 - Nov 2015 – Senior Front-End Developer, Piano (former Tinypass), Izhevsk, Russia
			</h3>
			<h3
				id="project-piano-the-business-platform-for-digital-media-tools-and-api-to-apply-different-sorts-of-payment-methods-and-policies-for-media-content"
			>
				<strong>Project</strong>: Piano, the business platform for digital media. Tools and API to apply different sorts
				of payment methods and policies for media content
			</h3>
			<p><strong>Project Role</strong>: Front-End Developer</p>
			<p><strong>Tasks and Accomplishments</strong>:</p>
			<ul>
				<li>Developed lots of dashboard pages for administrators and publishers based on AngularJS</li>
				<li>Added jasmine tests to the frontend development process</li>
				<li>Implemented graphical reports using D3.js</li>
				<li>Took part in a new version of the main product (white-label paywall service)</li>
				<li>Introduced and implemented integration tests based on hosted selenium WebDriver solution</li>
				<li>Trained interns</li>
			</ul>
			<p><strong>Languages</strong>: JavaScript, Java</p>
			<p><strong>Tools</strong>: Gradle, Swagger, Less, TeamCity, Selenium, Browserstack</p>
			<p><strong>Source Control</strong>: Git</p>
			<p><strong>Methodology</strong>: Agile</p>
			<p><strong>Databases</strong>: MySQL</p>
			<p><strong>OS</strong>: Linux, OS X</p>
			<p><strong>IDE</strong>: IntelliJ idea</p>
			<p><strong>Technologies</strong>: AngularJS, jQuery, D3.js, lodash</p>
			<p><strong>Application Servers</strong>: Tomcat, Jetty</p>
		</article>
		<article>
			<h3 id="jul-2011--jul-2014--software-engineer-epam-systems-izhevsk-russia">
				Jul 2011 – Jul 2014 – Software engineer, EPAM Systems, Izhevsk, Russia
			</h3>
			<h3 id="project-bank-billing-center">Project: Bank Billing Center</h3>
			<p><strong>Project Role:</strong> Front-End Developer</p>
			<p><strong>Tasks and Accomplishments:</strong></p>
			<ul>
				<li>Redesign and reimplementation of File Exchange Subsystem</li>
				<li>Implementation of tests</li>
				<li>Monitoring subsystem updates and improvements</li>
			</ul>
			<p><strong>Languages:</strong> JavaScript, Java</p>
			<p><strong>Tools:</strong> Axure RP, Gradle</p>
			<p><strong>Source Control:</strong> SVN, Git</p>
			<p><strong>Application Servers:</strong> IBM WebSphere</p>
			<h3 id="project-vm-backup-dashboard">Project: VM backup dashboard</h3>
			<p><strong>Project Role:</strong> Front-End Developer</p>
			<p><strong>Tasks and Accomplishments:</strong></p>
			<ul>
				<li>Updated and improved the VM Backup dashboard</li>
			</ul>
			<p><strong>Languages:</strong> JavaScript</p>
			<p><strong>Technologies:</strong> Ext JS 3, Jasmine</p>
			<p><strong>Source Control:</strong> SVN</p>
			<h3 id="project-bank-customs-cards">Project: Bank Customs Cards</h3>
			<p><strong>Project Role:</strong> Java Developer</p>
			<p><strong>Tasks and Accomplishments:</strong></p>
			<ul>
				<li>Implemented parsers, formatters and protocols for a custom data exchange format</li>
				<li>Participated in creation of GWT front-end</li>
			</ul>
			<p><strong>Languages:</strong> Java</p>
			<p><strong>Source Control:</strong> SVN, Git</p>
		</article>
		<article>
			<h3 id="jul-2010--jul-2011--software-engineer-astarus-izhevsk-russia">
				Jul 2010 – Jul 2011 – Software Engineer, Astarus, Izhevsk, Russia
			</h3>
			<h3 id="project-discount-provider-crm-support"><strong>Project</strong>: Discount provider CRM support</h3>
			<p><strong>Project Role</strong>: PHP Developer</p>
			<p><strong>Tasks and Accomplishments</strong>:</p>
			<ul>
				<li>Updated system according to the requirements</li>
			</ul>
			<p>
				<strong>Languages</strong>: PHP, JavaScript <strong>Source Control</strong>: SVN <strong>Databases</strong>:
				MySQL <strong>Technologies</strong>: Symfony2
			</p>
		</article>
		<article>
			<h3 id="project-office-collaboration-tool"><strong>Project</strong>: Office collaboration tool</h3>
			<p><strong>Project Role</strong>: Java Developer</p>
			<p><strong>Tasks and Accomplishments</strong>:</p>
			<ul>
				<li>Implemented SWING-based plugin-based desktop interface</li>
				<li>
					Created custom loader for jars in real time to implement faster start-up of application with delayed module
					loading
				</li>
				<li>Implemented a part of server-side code</li>
			</ul>
			<p><strong>Languages</strong>: Java</p>
			<p><strong>Source Control</strong>: SVN</p>
			<p><strong>Databases</strong>: MySQL, Derby DB, H2db</p>
			<p><strong>Technologies</strong>: J2ee, JBoss, SWING, JIDE framework</p>
		</article>
		<article>
			<h3 id="jul-2008--jul-2010--software-engineer-elewise-izhevsk-russia">
				Jul 2008 – Jul 2010 – Software Engineer, Elewise, Izhevsk, Russia
			</h3>

			<h3 id="project-online-game-virtual-russia"><strong>Project</strong>: Online game “Virtual Russia”</h3>
			<p><strong>Project Role</strong>: Java Developer</p>
			<p><strong>Tasks and Accomplishments</strong>:</p>
			<ul>
				<li>Implementation of a bunch of flash mini-games</li>
				<li>Map with dynamical loading</li>
				<li>Back-end development</li>
			</ul>
			<p><strong>Languages</strong>: Java, JavaScript, ECMAScript4</p>
			<p><strong>Source Control</strong>: SVN</p>
			<p><strong>Databases</strong>: PostgreSQL</p>
			<p><strong>Technologies</strong>: Tomcat, Hibernate, Spring, Struts, Flash, Flex</p>
		</article>
		<article>
			<h2 id="education">Education</h2>
			<h3 id="udmurt-state-university-izhevsk-russia">Udmurt State University, Izhevsk, Russia</h3>
			<p>Department of Information Technologies M.S. in Information Technologies in Economics</p>
		</article>
	</div>
</MainLayout>
