---
import { getCollection, render } from 'astro:content';
import MainLayout from '../layout/Main.astro';

const exp = await getCollection('experience').then((exp) => {
	return Promise.all(exp.toSorted((a, b) => -a.data.start.localeCompare(b.data.start)).map((e) => render(e)));
});
---

<MainLayout showHeader>
	<div
		class="lg:max-width-3/4 prose mx-auto my-20 lg:prose-xl prose-headings:mb-0 prose-headings:mt-0.5 prose-ul:my-0 prose-li:my-0 prose-p:m-0"
	>
		<a class="print:hidden" href="/cv.pdf">PDF</a>

		<h1 id="ramil-karimov-software-engineer">Ramil Karimov, Software Engineer</h1>
		<article>
			<p>
				I am a Software Engineer with extensive expertise in web development. Over the years, I have delivered a diverse
				array of successful projects, showcasing my proficiency in both front-end and back-end technologies, such as
				JavaScript, TypeScript, Svelte, React, Node.js, CSS, and SCSS.
			</p>
			<p>
				My project portfolio includes a wide range of applications, from project management tools and sophisticated
				dashboards to shopping platforms, Shopify plugins, and React-based mobile apps. These projects underscore my
				ability to tackle varied challenges and consistently deliver innovative solutions.
			</p>
			<p>I am also experienced in automated testing and CI/CD configuration.</p>
		</article>
		<article>
			<h2 id="skills">Skills</h2>
			<p><strong>Languages:</strong> JavaScript, Typescript</p>
			<p><strong>Technologies:</strong> Svelte, React, Electron, node js, CSS, SCSS, Supabase</p>
		</article>
		<article>
			<h2 id="contacts">Contacts</h2>
			<p>Current location: Tashkent, Uzbekistan.</p>
			<p>Phone: +998 91-798-89-66; +7 (912) 852-09-81</p>
			<p>Email: <a href="mailto:ramilkarimov@hey.com">ramilkarimov@hey.com</a></p>
			<p>Telegram: <a href="https://t.me/ramilkos">@ramilkos</a></p>
		</article>

		<h3 id="work-experience">Work Experience</h3>
		<!--<pre>{JSON.stringify(exp, null, 2)}</pre>-->
		{
			exp.map(({ /* title, start, end,*/ Content, remarkPluginFrontmatter: { title, start, end } }) => (
				<article>
					<h4>
						{end
							? `From ${new Date(start).toLocaleString('default', { month: 'long', year: 'numeric' })} to ${new Date(end).toLocaleString('default', { month: 'long', year: 'numeric' })}`
							: `Since ${new Date(start).toLocaleString('default', { month: 'long', year: 'numeric' })}`}
						{title}
					</h4>
					<Content />
				</article>
			))
		}
		<article>
			<h2 id="education">Education</h2>
			<h3 id="udmurt-state-university-izhevsk-russia">Udmurt State University, Izhevsk, Russia</h3>
			<p>Department of Information Technologies M.S. in Information Technologies in Economics</p>
		</article>
	</div>
</MainLayout>
