---
import Meta from "../components/Meta.astro";
---
<html lang="en">
<head>
	<Meta />
	<title>Experimental feedback form</title>
</head>
<body>
<div>
	<h1>Hidden experimental form</h1>
	<input style="background: azure; position: fixed; bottom: 0; left: 0; right: 0;">
</div>
</body>
</html>
