---
import Calendar from "./calendar.svg?raw";
import Email from "./email.svg?raw";
import Telegram from "./telegram.svg?raw";
---

<div id="contacts" class="
    py-10
    px-5
    text-black
    text-2xl
    grid
    grid-cols-1
    md:py-[10vh]
    md:text-3xl
    lg:grid-cols-2
    grid-flow-row
    bg-yellowVibrant
    gap-8
    justify-center
">
    <label class="
        calendly
        lg:row-span-2
        grid
        grid-cols-[minmax(0,_max-content)_minmax(min-content,_max-content)]
        <!--grid-cols-[minmax(0,_max-content)_minmax(1fr,_min-content)]-->
        items-center
        gap-3
        border-2
        border-black
        w-full
        p-5
    ">
        <picture class="min-w-0 aspect-square">
            <Fragment set:html={Calendar}/>
        </picture>
        <span>
            <a class="text-link" href="https://calendly.com/ramilkarimov/30min">Schedule&nbsp;a&nbsp;call</a>
            {" "}using&nbsp;Calendly
        </span>
    </label>
    <label class="email w-full flex items-center gap-3 p-5">
        <Fragment set:html={Email}/>
        <span>
                Email:
                <a class="text-link" href="mailto:ramilkarimov@hey.com">ramilkarimov@hey.com</a>
            </span>
    </label>
    <label class="telegram w-full flex items-center gap-3 p-5">
        <Fragment set:html={Telegram}/>
        <span>
            Telegram:
            <a class="text-link" href="t.me/ramilkos">@ramilkos</>
        </span>
    </label>
</div>
