<!-- ========== FOOTER ========== -->
<footer class="align-text-bottom py-5 bg-gray-200 h-[50vh] relative">
  <div class="absolute bottom-2 px-10 w-full text-2xl flex justify-between">
    <div>&copy; Ramil Karimov, 2023</div>
    <a class="text-link">github</a>
  </div>
  <!--
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <p class="text-sm text-gray-400">Cover template for <a class="text-white decoration-2 underline underline-offset-2 font-medium hover:text-gray-200 hover:decoration-gray-400" href="../index.html">Preline</a></p>
    </div>
    -->
</footer>
<!-- ========== END FOOTER ========== -->
