<!-- ========== FOOTER ========== -->
<footer class="align-text-bottom py-5 bg-gray-200 h-[50vh] relative">
  <div class="absolute bottom-2 px-10 w-full text-md sm:text-2xl flex justify-between">
    <div>&copy; Ramil Karimov, 2023</div>
    <div><a class="text-link">github</a></div>
  </div></footer>
<!-- ========== END FOOTER ========== -->
