<footer class="relative min-h-[10vh] max-h-[30vh] bg-gray-200 py-5 align-text-bottom print:hidden">
	<div class="text-md absolute bottom-2 flex w-full justify-between px-10 sm:text-2xl">
		<div>&copy; Ramil Karimov, 2023-2025</div>
		<div>
			<a class="text-link" href="/cv">cv</a>
			<a class="text-link" href="https://github.com/ramil-k">github</a>
		</div>
	</div>
</footer>
