---

---
<header class="
    fixed
    bg-hero
    z-10
    w-full
    py-2.5
    px-10
    text-lg
    sm:text-xl
    md:text-2xl
    shadow-2xl
">
    <a href="/" class="text-link font-bold">Ramil Karimov</a>
</header>
