---

---

<header class="fixed
    w-full
    bg-hero
    px-10
    py-2.5
    text-lg
    shadow-2xl
    sm:text-xl
    md:text-2xl">
	<a href="/" class="text-link font-bold">Ramil Karimov</a>
</header>
