---

---

<header
  class="relative z-20 grid h-[100vh] w-full content-center gap-2 bg-hero text-black"
>
  <h1
    class="balance
        w-2/3
        min-w-0
        px-10
        font-display
        text-6xl
        font-semibold
        sm:text-8xl"
  >
    Ramil Karimov.
  </h1>
  <h2
    class="balance
        min-w-0
        px-10
        font-display
        text-3xl
        font-semibold
        sm:w-3/4
        sm:text-4xl"
  >
    Web&nbsp;development. Front&#8209;end. Mobile. Design.
  </h2>
</header>
