---

---

<header class="w-full h-[100vh] content-center bg-hero grid gap-2 text-black">
  <h1
    class="
        font-semibold
        balance
        text-8xl
        font-display
        min-w-0
        w-2/3
        px-10"
  >
    Ramil Karimov.
  </h1>
  <h2
    class="
        font-semibold
        balance
        text-4xl
        font-display
        min-w-0
        w-3/4
        px-10"
  >
    Web&nbsp;development. Front&#8209;end. Mobile. Design.
  </h2>
</header>
