---
const bgs = {
    Web: "text-white bg-red-600",
    Astro: "text-white bg-purple-600",
    Tailwind: "text-white bg-blue-600",
    Shopify: "text-black shadow-inset-border shadow-teal-600",
    React: "text-white bg-violet-600",
    Svelte: "text-white bg-orange-600",
    SvelteKit: "text-black shadow-inset-border shadow-orange-600",
    Mobile: "text-black shadow-inset-border shadow-pink-600",
    Design: "text-black shadow-inset-border shadow-fuchsia-600",
    default: "text-black shadow-inset-border shadow-mauve-600",
};

const text = await Astro.slots.render("default") as keyof typeof bgs;

const bg = bgs[text] || bgs.default;
---

<div class=`px-1.5 text-2xl ${bg}`>
    <slot/>
</div>
