---
import Calendar from './calendar.svg?raw';
import Email from './email.svg?raw';
import Telegram from './telegram.svg?raw';
---

<div
	id="contacts"
	class="grid
    w-full
    gap-5
    bg-yellowVibrant
    px-5
    py-10
    text-xl
    text-black
    sm:text-2xl
    md:text-3xl
    lg:grid-cols-2"
>
	<div
		class="calendly
      grid
      grid-cols-[min-content__min-content]
      place-items-center
      justify-start
      border-2
      border-black
      pe-10
      lg:justify-self-end"
	>
		<picture class="aspect-square w-32 lg:w-48 xl:w-64">
			<Fragment set:html={Calendar} />
		</picture>
		<span class="">
			<a class="text-link" href="https://calendly.com/ramilkarimov/30min">Schedule&nbsp;a&nbsp;call</a>
			{' '}using&nbsp;Calendly
		</span>
	</div>
	<div class="links grid grid-cols-[min-content__auto] place-content-center justify-start gap-2.5 px-5 lg:px-0">
		<label class="col-span-2 grid grid-cols-subgrid">
			<picture class="aspect-square w-16">
				<Fragment set:html={Email} />
			</picture>
			<span class="self-center">
				Email:
				<a class="text-link" href="mailto:ramilkarimov@hey.com"> ramilkarimov@hey.com</a>
			</span>
		</label>
		<label class="col-span-2 grid grid-cols-subgrid">
			<picture class="aspect-square w-16">
				<Fragment set:html={Telegram} />
			</picture>
			<span class="self-center">
				Telegram:
				<a class="text-link" href="https://t.me/ramilkos">@ramilkos</a>
			</span>
		</label>
	</div>
</div>
