---
import Meta from '#components/Meta.astro';
import Header from '#components/HeaderBlock.astro';
import Footer from '#components/FooterBlock.astro';
import '#styles/global.css';

const { showHeader = true } = Astro.props;
---

<html lang="en" class="h-full">
	<head>
		<Meta />
		<title>Ramil Karimov, Front-end developer</title>
	</head>
	<body class="flex min-h-[100vh] flex-col font-display">
		{showHeader && <Header />}

		<!-- ========== MAIN CONTENT ========== -->
		<main class="grow-1" id="content" role="main">
			<div
				class="lg:max-width-3/4
			mx-auto
			my-20
			lg:prose-xl
			prose
			prose-headings:mb-0
			prose-headings:mt-0.5
			prose-ul:my-0
			prose-li:my-0
			prose-p:m-0"
			>
				<slot />
			</div>
		</main>
		<!-- ========== END MAIN CONTENT ========== -->
		<Footer />

		<script>
			let animated = document.querySelectorAll('[animated]');
			//
			let opts = {};
			let observer = new IntersectionObserver((entries) => {
				for (let entry of entries) {
					if (entry.intersectionRatio > 0) {
						entry.target.classList.add('active-animation');
						entry.target.classList.remove('inactive-animation');
					} else {
						entry.target.classList.remove('active-animation');
						entry.target.classList.add('inactive-animation');
					}
				}
			}, opts);

			for (let a of animated) {
				observer.observe(a);
			}
		</script>
	</body>
</html>
